<html>
  <body>

  <h1>Welcome {{USER}} to Online_Tailor  </h1>
  <h2>I am your host </h2>
  <h3>Please log-in </h3>

  <form action="/log-in/">
    :   <input name="name"/><br/>
    age:    <input name="age"/ value="999"><br/>
    skill:  <input name="skill"/><br/>
    sarang: <input type="checkbox" name="check" /> <br/>
    offset: <input name="offset"/><br/>
    <input type="submit" value="submit me plz"/>
  </form>
  
  <p> descend into darkness or ascend into light </p>

 
<form method="POST" action="/hello/">
    name:   <input name="name"/><br/>
    age:    <input name="age"/ value="999"><br/>
    skill:  <input name="skill"/><br/>
    sarang: <input type="checkbox" name="check" /> <br/>
    <input type="submit" value="submit me plz"/>
</form>
  </body>
</html>
