<html>
  <body>

  <h1><a href="/menu">Online_Tailor</a></h1>
  <h2>Welcome {{USER}}  </h2>
  <h3>Products Page </h3>

  <h4>Select the dimensions you want to buy a product with</h4>
      <form name="select" action=/select_product/ method="POST">
      {% for row in d_rows %} 
        <h4>Dimension {{loop.index}} ( ID = {{row.4}} )</h4>
       <input type="radio" name="dim" value="{{row.0}} {{row.1}} {{row.2}} {{row.3}} {{row.4}}">
       <p>
        Waist: {{row.0}}<br/>
        Neck: {{row.1}}<br/>
        Torso: {{row.2}}<br/>
        Leg: {{row.3}}<br/> 
      </p>  
      {% endfor %}
  </br>
 
  <h4>Select what type of product you want to buy </h4>
      <input type="checkbox" name="product" value="suits"> Suit </br>
      <input type="checkbox" name="product" value="blazers"> Blazers </br>
      <input type="checkbox" name="product" value="shirts"> Shirts </br>
      <input type="checkbox" name="product" value="pants"> Pants </br>

    <input type="submit"/>
  </form>

  <a href="/menu">Back to menu</a>

  </body>
</html>
